@model PaginaDeCadastro.Models.Pessoa

@{
    ViewData["Title"] = "Edit";
}

<h2>Editar</h2>

<h4>Pessoa</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="Nome" class="control-label"></label>
                <input asp-for="Nome" class="form-control" />
                <span asp-validation-for="Nome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Sobrenome" class="control-label"></label>
                <input asp-for="Sobrenome" class="form-control" />
                <span asp-validation-for="Sobrenome" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DataNascimento" class="control-label"></label>
                <input asp-for="DataNascimento" class="form-control" />
                <span asp-validation-for="DataNascimento" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Naturalidade" class="control-label"></label>
                <input asp-for="Naturalidade" class="form-control" />
                <span asp-validation-for="Naturalidade" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CidadeNac" class="control-label"></label>
                <input asp-for="CidadeNac" class="form-control" />
                <span asp-validation-for="CidadeNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="EstadoNac" class="control-label"></label>
                <input asp-for="EstadoNac" class="form-control" />
                <span asp-validation-for="EstadoNac" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomePai" class="control-label"></label>
                <input asp-for="NomePai" class="form-control" />
                <span asp-validation-for="NomePai" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="NomeMae" class="control-label"></label>
                <input asp-for="NomeMae" class="form-control" />
                <span asp-validation-for="NomeMae" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Salvar" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Pessoas Cadastradas</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
